DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1

DB_NAME=document_analyzer
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_HOST=127.0.0.1
DB_PORT=5432

MAX_UPLOAD_SIZE=5242880
MAX_FILES_PER_UPLOAD=5
MAX_TOTAL_UPLOAD_SIZE=20971520
ALLOWED_EXTENSIONS=txt,csv,pdf,docx

OLLAMA_HOST=http://localhost:11434
OLLAMA_MODEL=llama3:latest
ENABLE_LLM=1


# --- Bedrock ---
LLM_PROVIDER=bedrock
AWS_REGION=us-east-1

# Inference profile ARN
BEDROCK_INFERENCE_PROFILE_ARN=arn:xxxx

# optional tuning
BEDROCK_MAX_TOKENS=800
BEDROCK_TEMPERATURE=0.2